[tool.poetry]
name = "samgis"
version = "1.5.1"
description = "A backend for machine learning instance segmentation on geospatial data even without dedicated graphics cards."
authors = ["alessandro trinca tornidor <alessandro@trinca.tornidor.com>"]
license = "MIT license"
readme = "README.md"

[metadata]
name = "samgis"
version = "1.5.1"

[tool.poetry.urls]
Source = "https://github.com/trincadev/samgis-be"
Demo = "https://huggingface.co/spaces/aletrn/samgis"

[tool.poetry.dependencies]
bson = "^0.5.10"
contextily = "^1.5.2"
geopandas = "^0.14.3"
loguru = "^0.7.2"
numpy = [
    {version = "1.25.2", python = "~3.10"},
    {version = "^1.26", python = "~3.11"}
]
pillow = "^10.2.0"
python = ">=3.10, <3.12"
python-dotenv = "^1.0.1"
rasterio = "^1.3.9"
requests = "^2.31.0"
samgis-core = "~2.0.0"

[tool.poetry.group.aws_lambda]
optional = true

[tool.poetry.group.aws_lambda.dependencies]
aws-lambda-powertools = "^2.30.2"
awslambdaric = "^2.0.10"
jmespath = "^1.0.1"
pydantic = "^2.5.3"

[tool.poetry.group.test]
optional = true

[tool.poetry.group.test.dependencies]
pytest = "7.4.4"
pytest-cov = "4.1.0"
python-dotenv = "^1.0.1"
httpx = "^0.26.0"

[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
sphinx = "^7.2.6"
sphinx-autodoc-typehints = "^1.25.2"
sphinxcontrib-openapi = "^0.8.4"
myst-parser = "^2.0.0"
sphinx-autodoc-defaultargs = "^0.1.2"

[tool.poetry.group.fastapi]
optional = true

[tool.poetry.group.fastapi.dependencies]
fastapi = "^0.110.0"
jinja2 = "^3.1.3"
loguru = "^0.7.2"
pydantic = "^2.6.3"
uvicorn = "^0.28.0" 

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
