[tool.poetry]
name = "samgis"
version = "1.11.15"
description = "A backend for machine learning instance segmentation on geospatial data even without dedicated graphics cards."
authors = ["alessandro trinca tornidor <alessandro@trinca.tornidor.com>"]
license = "MIT license"
readme = "README.md"
package-mode = false

[metadata]
name = "samgis"
version = "1.11.15"

[tool.poetry.urls]
Source = "https://github.com/trincadev/samgis-be"
Demo = "https://huggingface.co/spaces/aletrn/samgis"

[tool.poetry.dependencies]
python = ">=3.10, <3.13"
onnxruntime = "^1.20.1"
samgis-web = "1.2.13"

[tool.poetry.group.gradio]
optional = true

[tool.poetry.group.gradio.dependencies]
gradio = "^5.11.0"

[tool.poetry.group.test]
optional = true

[tool.poetry.group.test.dependencies]
httpx = "^0.27.2"
pytest = "^8.3.3"
pytest-cov = "^6.0.0"
python-dotenv = "^1.0.1"

[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
sphinx = "^8.1.3,<8.2.0"
sphinx-autodoc-typehints = "^2.5.0"
sphinxcontrib-openapi = "^0.8.4"
myst-parser = "^4.0.0"
sphinx-autodoc-defaultargs = "^0.1.2"

[tool.pytest.ini_options]
addopts = "--cov=my_ghost_writer --cov-report html"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
