bson==0.5.10
contextily==1.6.2
geopandas==1.0.1
numpy==2.1.2
pillow==10.4.0
pydantic==2.9.2
python-dotenv==1.0.1
onnxruntime==1.19.2
rasterio==1.4.1
requests==2.32.3
samgis_core==3.1.0
samgis_web==1.1.1
uvicorn==0.32.0
