bson==0.5.10
contextily==1.7.0
fastapi==0.129.0
geopandas==1.1.2
numpy==2.4.2
onnxruntime==1.24.1
pillow==12.1.1
pydantic==2.12.5
pydantic_core==2.41.5
python-dotenv==1.2.1
rasterio==1.5.0
requests==2.32.5
samgis_core==3.5.6
samgis_web==1.3.4
sphinx-jinja2-compat==0.4.1
uvicorn==0.40.0
