@import "tailwindcss";
@import "leaflet";
@import "./leaflet-custom.css";
@import "@geoman-io/leaflet-geoman-free/dist/leaflet-geoman.css";
/* workaround because of dist/ content not included in @trincadev/driver.js tag release tarball */
@import "driver.js/dist/driver.css";

@layer base {
    * {
        @apply box-border;
    }
    h1 {
        @apply text-xl font-bold md:text-3xl;
    }
    a {
        @apply underline;
    }
}
