openapi: 3.1.0
info:
  title: Swagger SamGIS - OpenAPI 3.0
  description: |-
    Segment Anything applied to GIS.
    Some useful links:
    - [SamGIS HuggingFace space direct link](https://huggingface.co/spaces/aletrn/samgis)
    - [SamGIS HuggingFace space](https://huggingface.co/spaces/aletrn/samgis)
    - [SamGIS documentation](https://docs.ml-trinca.tornidor.com)
    - [My blog](https://trinca.tornidor.com)
  contact:
    name: alessandro's website
    url: https://trinca.tornidor.com
  license:
    name: MIT License
    url: https://opensource.org/license/mit/
  version: "1.3.1"
servers:
  - url: https://localhost:8000/
tags:
  - name: samgis-aws
    description: segment anything applied to gis (self-hosted demo)
    externalDocs:
      url: https://ml-trinca.tornidor.com/
  - name: samgis-huggingface
    description: segment anything applied to gis (huggingface demo)
    externalDocs:
      url: https://huggingface.co/spaces/aletrn/samgis
  - name: segment-anything
    description: segment anything machine learning model
    externalDocs:
      url: http://segment-anything.com
  - name: gis
    externalDocs:
      url: https://it.wikipedia.org/wiki/Geographic_information_system
paths:
  /health:
    get:
      summary: Health
      operationId: health_health_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
  /infer_samgis:
    post:
      summary: Infer Samgis
      operationId: infer_samgis_infer_samgis_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBody'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /:
    get:
      summary: Index
      operationId: index__get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
components:
  schemas:
    ApiRequestBody:
      properties:
        id:
          type: string
          title: Id
          default: ''
        bbox:
          $ref: '#/components/schemas/RawBBox'
        prompt:
          items:
            anyOf:
            - $ref: '#/components/schemas/RawPromptPoint'
            - $ref: '#/components/schemas/RawPromptRectangle'
          type: array
          title: Prompt
        zoom:
          anyOf:
          - type: integer
          - type: number
          title: Zoom
        source_type:
          type: string
          title: Source Type
          default: OpenStreetMap.Mapnik
        debug:
          type: boolean
          title: Debug
          default: false
      type: object
      required:
      - bbox
      - prompt
      - zoom
      title: ApiRequestBody
      description: Input request validator type (not yet parsed)
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    LatLngDict:
      properties:
        lat:
          type: number
          title: Lat
        lng:
          type: number
          title: Lng
      type: object
      required:
      - lat
      - lng
      title: LatLngDict
      description: Generic geographic latitude-longitude type
    PromptLabel:
      type: integer
      enum:
      - 0
      - 1
      title: PromptLabel
      description: Valid prompt label type
    PromptPointType:
      type: string
      enum:
      - point
      title: PromptPointType
      description: 'Segment Anything: validation point prompt type'
    PromptRectangleType:
      type: string
      enum:
      - rectangle
      title: PromptRectangleType
      description: 'Segment Anything: validation rectangle prompt type'
    RawBBox:
      properties:
        ne:
          $ref: '#/components/schemas/LatLngDict'
        sw:
          $ref: '#/components/schemas/LatLngDict'
      type: object
      required:
      - ne
      - sw
      title: RawBBox
      description: Input lambda bbox request type (not yet parsed)
    RawPromptPoint:
      properties:
        type:
          $ref: '#/components/schemas/PromptPointType'
        data:
          $ref: '#/components/schemas/LatLngDict'
        label:
          $ref: '#/components/schemas/PromptLabel'
      type: object
      required:
      - type
      - data
      - label
      title: RawPromptPoint
      description: Input lambda prompt request of type 'PromptPointType' - point (not
        yet parsed)
    RawPromptRectangle:
      properties:
        type:
          $ref: '#/components/schemas/PromptRectangleType'
        data:
          $ref: '#/components/schemas/RawBBox'
      type: object
      required:
      - type
      - data
      title: RawPromptRectangle
      description: Input lambda prompt request of type 'PromptRectangleType' - rectangle
        (not yet parsed)
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
